/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode


zzz_auction_updates/
Laravel-Info
auction_min.sql
app/Http/Controllers/ViewsController(copy).php
database/seeders/zzz_DatabaseSeeder.php
installing_tailwindcss.txt
laravel.sql
resources/views/components/layout.blade.php
resources/views/form_and_table_components/
resources/views/form_and_table_components.tar.xz
routes/zzz_web.php
usefull_sql.sql